@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  justify-items: center;
  font-family: "Ubuntu Mono", monospace;
  background: #9ec6f3;
}

.timer {
  position: relative;
  margin: auto;
  height: 400px;
  width: 400px;
}

.controls {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.controls input {
  margin-bottom: 12px;
  display: block;
  width: 240px;
  color: #183b4e;
  font-family: inherit;
  font-weight: bold;
  font-size: 96px;
  text-align: center;
  border: none;
  background-color: transparent;
}

.controls input:focus {
  outline: none;
}

.controls button {
  border: none;
  font-size: 36px;
  cursor: pointer;
  height: 4rem;
  width: 4rem;
  border-radius: 16px;
  background-color: #183b4e;
  color: #fff;
}

.controls button:focus {
  outline: none;
}

.dial {
  height: 400px;
  width: 400px;
}

circle {
  stroke: #183b4e;
}
